.my-simulations-container {
    padding: 20px;
}

.simulations-list {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.simulation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.simulation-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.simulation-details {
    flex-grow: 1;
}

.simulation-info p {
    margin: 0;
}

.simulation-status {
    display: flex;
    align-items: center;
}

.simulation-status progress {
    width: 100px;
    margin-right: 10px;
}

.download-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}
